.header {
  height: 180px;
  width: 100%;
  background-color: #DB0E13;
}

.headerSpan {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.headerImage {
  margin-left: 15%;
  vertical-align: middle;
}

.headerTitle {
  display: inline-block;
  color: #fff;
  font-size: 80px;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
}

.card {
  width: 80%;
  margin: auto;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.matches {
  display: flex;
  justify-content: center;
}

.matchCard {
  margin: 2%;

}

.vs {
  font-size: 50px;
  margin: 10px;
}
